@font-face {
    font-family: 'Digital-7';
    src: url(digital-7.ttf) format('truetype');
}

.nums, .operators, .equal, .point {
    height: 75px;
    width: 75px;
    background-color: lightslategrey;
    font-size: x-large;
    border: 2px solid black;
    color: white;
    font-family:'Times New Roman', Times, serif;
    
}


body {
    background-color: lightskyblue;
}


#display {
    height: 75px;
    width: 292px;
    font-size: x-large;
    text-align: right;
    background-color: white;
    border: 2px solid black;
    font-family: 'Digital-7';
}

#display2 {
    height: 40px;
    width: 292px;
    font-size: small;
    text-align: left;
    background-color: white;
    border: 2px solid black;
    font-family: 'Digital-7';
    
}

#container {
    margin-left: 45%;
    margin-top: 10%;
}

#clear {
    height: 75px;
    width: 300px;
    background-color: lightslategrey;
    font-weight: bold;
    font-size: xx-large;
    border: 2px solid black;
    color: white;
    font-family:'Times New Roman', Times, serif;
}