.nums, .operators {
    height: 75px;
    width: 75px;
    background-color: lightsalmon;
    font-weight: bold;
    font-size: xx-large;
    border: 2px solid black;
}

body {
    background-color: darkgrey;
}


#display {
    height: 75px;
    width: 292px;
    font-size: x-large;
    text-align: right;
    background-color: white;
    border: 2px solid black;
}

#display2 {
    height: 40px;
    width: 292px;
    font-size: large;
    text-align: right;
    background-color: white;
    border: 2px solid black;
}

#container {
    margin-left: 45%;
    margin-top: 10%;
}

#clear {
    height: 75px;
    width: 300px;
    background-color: lightsalmon;
    font-weight: bold;
    font-size: xx-large;
    border: 2px solid black;
}